<ion-view title="Détails">
                <ion-nav-buttons side="left">
                    <button menu-toggle="left"class="button button-icon icon-up"></button>
                </ion-nav-buttons>

                <ion-nav-buttons side="right">
                    <button class="button button-icon icon"></button>
                </ion-nav-buttons>
                <div class="bar bar-subheader">
                    <div class="tabs tabs-sub">
                        <a class="tab-item active" href="#/tab/statistiques">
                            Statistiques
                        </a>
                        <a class="tab-item" href="#/tab/anciens_trajets">
                            Anciens trajets
                        </a>
                    </div>
                </div>

    <ion-content padding id="main">
        <div class="page">
            <section class="section-stats-one">
               <div class="container-main block-recap-one center ">
                   <i class="icon-size-level icon-level1-4"></i>
                   <p>Vous êtes maintenant</p>
                   <span class="point-xp">niveau 5.</span>
                   <div class="bar-niveau center mtop10 mbot5">
                       <div class="niveau"></div>
                   </div>
                   <p class="txt-small">300xp / <b>450xp</b></p>
               </div>
            </section>
            <section class="section-stats-two">
                <div class="container-main block-stat-two center">
                    <div class="info-stat-header info-icon mbot20">
                        <span class="txt-stat mbot40">1389 / 3000</span>
                        <br>
                        <div class="hr-picto-stat center mtop15 mbot10">
                            <hr>
                            <i class="icon-size icon-auto mleft10 mright10 align-picto"></i>
                            <hr>
                        </div>
                        <p class="mbot10">Il vous reste</p>
                        <span class="km-stats">1611km</span>
                    </div>

                    <div class="infos-sats mtop30">
                        <div class="info-temps info-icon mbot20">
                            <i class="icon-road-size icon-road mright10"></i>
                        </div>
                        <div class="info-km info-icon mbot20">
                            <i class="icon-stat-size icon-temps mleft10 mright10"></i>
                            <div class="hr-picto-stat2 center mtop15 mbot10">
                                <p class="align-picto2 vertical-center"> 11h 56 min 45 sc</p>
                            </div>
                        </div>
                        <div class="info-km info-icon mbot20">
                            <i class="icon-stat-size icon-daynight mleft10 mright10"></i>
                            <div class="hr-picto-stat2 center mtop15 mbot10">
                                <p class="align-picto2 vertical-center"> 11h 56 min 45 sc</p>
                            </div>
                        </div>
                        <div class="info-km info-icon mbot20">
                            <i class="icon-stat-size icon-meteo mleft10 mright10"></i>
                            <div class="hr-picto-stat2 center mtop15 mbot10">
                                <p class="align-picto2 vertical-center"> 11h 56 min 45 sc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </ion-content>
</ion-view>