<ion-view view-title="Paramètres du compte">
    <ion-nav-buttons side="left">
        <a href="#/tab/accueil"><button menu-toggle="left" class="button button-icon icon-up"></button></a>
    </ion-nav-buttons>
    <ion-content padding >
        <div class="page ">
            <!--<div class="page container-90-auto">-->
                <!--<p class="center txt-large mtop20">Votre profil</p>-->
                <!--<p class="txt-small mtop30">{{ user.user_nom }}<br/>{{ user.user_prenom }}<br/>{{ user.user_email }}</p>-->
            <!--</div>-->
            <section class="ptop60 pbot70 bg-statistiques">
                <div class="block-recap-one center ">
                    <div class="sprite-niveau center mbot10"></div>
                    <p class="txt-medium">Vous êtes <span id="point-xp"><b>niveau {{ statistiques.user_level }}</b></span></p>
                    <div class="bar-niveau center mtop10 mbot5">
                        <div class="niveau"></div>
                    </div>
                    <p class="txt-small">{{ statistiques.user_point_xp }}xp / <b>450xp</b></p>
                </div>
            </section>
            <section class="profil-page">
                <div class="full-width bg-blue-violet ptop60">
                    <div class="row ">
                        <div class="col">
                            <label class="item item-input input-profil">
                            <input type="text" value="{{ user.user_nom }}" ng-disabled="!pNom">
                        </label>
                        </div>
                        <div class="col">
                            <label class="item item-input input-profil">
                            <input type="text" value="{{ user.user_prenom }}" ng-disabled="!pPrenom">
                        </label>
                        </div>
                    </div>
                </div>
                <div class="full-width bg-violet pbot60">
                    <div class="row responsive-sm">
                        <div class="col">
                            <label class="item item-input input-profil" ng-init="editEmail=false">
                                <input type="email"  placeholder="{{ user.user_email }}" ng-disabled="editEmail" ng-model="dataup.mail">
                                <i class="icon ion-edit placeholder-icon" ng-click="editEmail = !editEmail"></i>
                            </label>
                        </div>
                        <div class="col">
                            <label class="item item-input input-profil" >
                                <input type="password" value="********" placeholder="************" ng-disabled="!inactive" ng-model="dataup.password">
                                <i class="icon ion-edit placeholder-icon" ng-click="inactive = !inactive"></i>
                            </label>
                        </div>
                    </div>
                        <div class="row cc-selector-profil">
                            <div class="col">
                                <input checked="checked" id="condacc" type="radio" name="type-conduite" value="conduite accompag" />
                                <label class="drinkcard-cc condacc item item-input input-profil" for="condacc">conduite accompag.</label>
                            </div>

                            <div class="col">
                                <input id="condsup" type="radio" name="type-conduite" value="conduite sup" />
                                <label class="drinkcard-cc condsup item item-input input-profil" for="condsup">conduite sup.</label>
                            </div>
                        </div>
                    <div class="row mtop30">
                        <div class="col">
                        </div>
                        <div class="col col-50">
                            <button class="button button-positive" ng-click="updatep(dataup)">Enregistrer</button>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </ion-content>
</ion-view>