<ion-view  hide-nav-bar="true">
    <ion-content padding id="main">
        <div class="page container-home">
            <div class="sprite-niveau center mbot10"></div>
            <p class="center">Vous êtes<br/><b>Niveau 2</b></p>
            <div class="bar-niveau center mtop30 mbot5">
                <div class="niveau"></div>
            </div>
            <p class="center txt-small">300xp / <b>450xp</b></p>
            <div class="circle-white center mtop30">
                <p><img class="icon-medium" src="../img/demarrer.svg" alt="démarrer"><br/><b>Démarrer</b></p>
            </div>
        </div>
    </ion-content>
</ion-view>