<ion-view title="Détail">
    <ion-nav-buttons side="left">
        <a href="#/tab/accueil"><button menu-toggle="left" class="button button-icon icon-up"></button></a>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <div class="tabs-striped tabs-color-assertive">
            <div class="tabs tabs-sub">
                <a class="tab-item  mright50 active" href="#/tab/statistiques">
                    Statistiques
                </a>
                <a class="tab-item mright15" href="#/tab/anciens_trajets">q
                    Anciens trajets
                </a>
            </div>
        </div>
    </div>
    <ion-content padding id="main">
        <div class="page">
            <section class="ptop60 pbot30 bg-statistiques">
               <div class="block-recap-one center ">
                   <div class="sprite-niveau center mbot10"></div>
                   <p class="txt-medium">Vous êtes <span id="point-xp"><b>niveau 5.</b></span></p>
                   <div class="bar-niveau center mtop10 mbot5">
                       <div class="niveau"></div>
                   </div>
                   <p class="txt-small">300xp / <b>450xp</b></p>
               </div>
            </section>
            <section>
                <div class="full-width bg-blue-violet ptop30">
                    <div class="info-stat-header info-icon">
                        <p class="txt-small center">1389 / 3000</p>
                        <div class="center mbot20 mtop20">
                            <div class="hr-picto-stat2 center mtop15 mbot10">
                                <img class="bg-blue icon-large align-picto2 vertical-center" src="img/icon/auto-blanc.svg">
                            </div>
                        </div>
                        <p class="txt-small center mbot10">Il vous reste<br/>1611KM</p>
                        <div class="center">
                            <img class="icon-xlarge" src="img/icon/road-blanc.svg">
                        </div>
                    </div>
                </div>
                <div class="full-width bg-violet pbot30">
                    <div class="infos-sats ptop10 container-70-auto">
                        <div class="center mbot20">
                            <img class="icon-small" src="img/icon/wall-clock-blanc.svg">
                            <div class="hr-picto-stat2 center mtop10 mbot30">
                                <p class="bg-violet txt-small align-picto2 vertical-center"> 11h 56 min 45 sc</p>
                            </div>
                        </div>
                        <div class="center mbot20">
                            <img class="icon-small" src="img/icon/location-blanc.svg">
                            <div class="hr-picto-stat2 center mtop10 mbot30">
                                <p class="bg-violet txt-small align-picto2 vertical-center"> 255 km</p>
                            </div>
                        </div>
                        <div class="center mbot20">
                            <img class="icon-small" src="img/icon/auto-blanc.svg">
                            <div class="hr-picto-stat2 center mtop10 mbot30">
                                <p class="bg-violet align-picto2 vertical-center"> 26 manoeuvres</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </ion-content>
</ion-view>