<ion-view title="Récapitulatif">
    <ion-nav-buttons side="left">
       <button menu-toggle="left"class="button button-icon icon-up"></button>
    </ion-nav-buttons>

   <ion-nav-buttons side="right">
        <button class="button button-icon icon"></button>
    </ion-nav-buttons>

    <ion-content padding id="main">
        <div class="page">
            <section class="section-recap-one">
               <div class="block-recap-one">
                    <i class="icon-star"></i>
                   <span class="point-xp">+570xp</span>
                   <p>Vous avez atteint <br> l'objectif de la séance !</p>
               </div>
            </section>
            <section class="section-recap-two">
                <div class="block-recap-two">
                    <i class="icon-star"></i>
                    <span class="point-xp">+570xp</span>
                    <p>Vous avez atteint <br> l'objectif de la séance !</p>
                </div>
            </section>
        </div>
    </ion-content>
</ion-view>