<ion-view title="Récapitulatif">
    <ion-nav-buttons side="left">
       <button menu-toggle="left"class="button button-icon icon-up"></button>
    </ion-nav-buttons>

   <ion-nav-buttons side="right">
        <button class="button button-icon icon"></button>
    </ion-nav-buttons>

    <ion-content padding id="main">
        <div class="page">
            <section class="section-recap-one">
               <div class="container-main block-recap-one center ">
                    <i class="icon-size icon-star"></i>
                   <br>
                   <span class="point-xp">+570xp</span>
                   <p>Vous avez atteint <br> l'objectif de la séance !</p>
               </div>
            </section>
            <button class="btn-add"><ion-icon name="add" class="ion-android-add"></ion-icon></button>
            <section class="section-recap-two">
                <div class="container-main block-recap-two center ">
                    <i class="icon-size-level icon-level1-4"></i>
                    <p>Vous êtes maintenant</p>
                    <span class="point-xp">niveau 5.</span>
                    <div class="bar-niveau center mtop10 mbot5">
                        <div class="niveau"></div>
                    </div>
                    <p class="txt-small">300xp / <b>450xp</b></p>

                    <div class="infos-recap mtop30">
                        <div class="info-temps info-icon mbot20">
                            <i class="icon-size icon-temps mright10"></i>
                            <span class="txt-recap">48 min</span>
                            <hr>
                            <span class="point-recap">+50xp</span>
                        </div>
                        <div class="info-km info-icon mbot20">
                            <i class="icon-size icon-location mright10"></i>
                            <span class="txt-recap">63 km</span>
                            <hr>
                            <span class="point-recap">+75xp</span>
                        </div>
                        <div class="info-type-road info-icon mbot20">
                            <i class="icon-size icon-map mright10"></i>
                            <span class="txt-recap">Agglomération</span>
                            <hr>
                            <span class="point-recap">+60xp</span>
                        </div>
                        <div class="info-meteo info-icon mbot20">
                            <i class="icon-size icon-meteo mright10"></i>
                            <span class="txt-recap">Temps sec</span>
                            <hr>
                            <span class="point-recap">+20xp</span>
                        </div>
                        <div class="info-daynight info-icon mbot20">
                            <i class="icon-size icon-daynight mright10"></i>
                            <span class="txt-recap">Trajet de jour</span>
                            <hr>
                            <span class="point-recap">+10xp</span>
                        </div>
                        <div class="info-manoeuvre info-icon mbot20">
                            <i class="icon-size icon-auto mright10"></i>
                            <span class="txt-recap">2 Manoeuvres</span>
                            <hr>
                            <span class="point-recap">+100xp</span>
                        </div>
                    </div>
                    <div class="block-btn-recap center mtop50">
                        <button class="button button-positive mright10">
                           Partager
                        </button>
                        <button class="button button-positive">
                            Terminer
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </ion-content>
</ion-view>