<ion-view  hide-nav-bar="true" >
    <ion-content padding class="bg-home" id="main">
        <div class="page container-home">
            <header class="header-logo center">
                <img class="logo" src="../img/logo-monochrome.svg" alt="logo Upway"/>
            </header>
            <section class="block-bottom">
                <p class="slogan center mbot30 mtop50"> Dynamisez votre <br>apprentissage de la route.</p>
                <button class="btn-lg btn-blue">Inscription</button>
                <div class="separation">
                    <hr />
                    <p id="choix">OU</p>
                    <hr />
                </div>
                <button class="btn-lg btn-white">Connexion</button>
            </section>
        </div>
    </ion-content>
</ion-view>
s