<ion-view title="Trajet en cours">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon-up"></button>
    </ion-nav-buttons>
    <ion-content padding id="main">
        <div class="page">
            <div class="height_50vh" id="map"></div>
            <div class="height_50vh bg-trajet relative">
                <div class="vertical-center full-width">
                    <div class="info-stat-header pbot5">
                        <p class="txt-small center">3ème séance</p>
                        <div class="center ptop5 pbot5">
                            <div class="div-picto-stat2 mtop20 mbot20">
                                <hr class="hr-picto-stat2 align-picto2 ">
                                <img class="icon-large align-picto2 " src="img/icon/auto-blanc.svg">
                                <hr class="hr-picto-stat2 align-picto2">
                            </div>
                        </div>
                    </div>
                    <p class="txt-small center mbot10">OBJECTIF : 50KM</p>
                    <div class="info-stat-header">
                        <div class="center">
                            <img class="icon-xlarge" src="img/icon/road-blanc.svg">
                        </div>
                    </div>
                    <button class="btn-med center btn-white mtop10" ng-click="fintraj0()">Terminer</button>
                    <button class="btn-med center btn-white mtop10" ng-click="saveTrajet()">TEST</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>