<ion-view  hide-nav-bar="true">
    <ion-content padding id="main">
        <div class="page page-end-trajet">
            <p class="center mtop40 mbot20">Avez-vous roulé de<br/><b>jour ou de nuit ?</b></p>
            <div class="box-end-trajet box-base" name="jour">
                <img class="icon-medium vertical-center" src="../img/day.svg" alt="">
                <div class="box-end-trajet-content">
                    <p class="box-end-trajet-name txt-small vertical">Jour</p>
                    <div class="box-end-trajet-check vertical"><img class="check" src="../img/check.png" alt="check"></div>
                </div>
                <img class="box-end-trajet-bg" src="" alt="background">
            </div>
            <div class="box-end-trajet box-base" name="nuit">
                <img class="icon-medium vertical-center" src="../img/night.svg" alt="">
                <div class="box-end-trajet-content">
                    <p class="box-end-trajet-name txt-small vertical">Nuit</p>
                    <div class="box-end-trajet-check vertical"><img class="check" src="../img/check.png" alt="check"></div>
                </div>
                <img class="box-end-trajet-bg" src="" alt="background">
            </div>
            <button class="center btn-med btn-white mtop30">Suivant</button>
        </div>
    </ion-content>
</ion-view>