<ion-view title="Fiches">
    <ion-nav-buttons side="left">
        <a href="#/tab/accueil"><button menu-toggle="left" class="button button-icon icon-up"></button></a>
    </ion-nav-buttons>
    
    <ion-content padding class="bg-blue-violet" id="main">
        <div class="page">
            <div class="full-width border-pad-2vw">
                <div class="box-fiche" name="jour">
                    <img class="icon-medium vertical-middle-box" src="img/icon/settings-blanc.svg" alt="">
                    <p class="fiche-name txt-small">Moteur</p>
                    <img class="box-end-trajet-bg" src="img/fiches/moteur.jpg" alt="background">
                </div>
                <div class="box-fiche" name="jour">
                    <img class="icon-medium vertical-middle-box" src="img/icon/signal-blanc.svg" alt="">
                    <p class="fiche-name txt-small">Signalisation</p>
                    <img class="box-end-trajet-bg" src="img/fiches/signalisation.jpg" alt="background">
                </div>
                <div class="box-fiche" name="jour">
                    <img class="icon-medium vertical-middle-box" src="img/icon/rondpoint-blanc.svg" alt="">
                    <p class="fiche-name txt-small">Ronds points</p>
                    <img class="box-end-trajet-bg" src="img/fiches/ronds-points.jpg" alt="background">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>