<ion-view  hide-nav-bar="true">
    <ion-content padding id="main">
        <div class="page page-end-trajet">
            <p class="center mtop40 mbot20">Quel temps<br/><b>faisait-il ?</b></p>
            <div class="box-end-trajet box-base" name="tempsclair">
                <img class="icon-medium vertical-center" src="../img/end-trajet/meteo.svg" alt="">
                <div class="box-end-trajet-content">
                    <p class="box-end-trajet-name txt-small vertical">Temps clair</p>
                    <div class="box-end-trajet-check vertical"><img class="check" src="../img/check.png" alt="check"></div>
                </div>
                <img class="box-end-trajet-bg" src="" alt="background">
            </div>
            <div class="box-end-trajet box-base" name="pluie">
                <img class="icon-medium vertical-center" src="../img/end-trajet/rain.svg" alt="">
                <div class="box-end-trajet-content">
                    <p class="box-end-trajet-name txt-small vertical">Pluie</p>
                    <div class="box-end-trajet-check vertical"><img class="check" src="../img/check.png" alt="check"></div>
                </div>
                <img class="box-end-trajet-bg" src="" alt="background">
            </div>
            <div class="box-end-trajet box-base" name="neige">
                <img class="icon-medium vertical-center" src="../img/end-trajet/snow.svg" alt="">
                <div class="box-end-trajet-content">
                    <p class="box-end-trajet-name txt-small vertical">Neige</p>
                    <div class="box-end-trajet-check vertical"><img class="check" src="../img/check.png" alt="check"></div>
                </div>
                <img class="box-end-trajet-bg" src="" alt="background">
            </div>
            <div class="box-end-trajet box-base" name="brouillard">
                <img class="icon-medium vertical-center" src="../img/end-trajet/fog.svg" alt="">
                <div class="box-end-trajet-content">
                    <p class="box-end-trajet-name txt-small vertical">Brouillard</p>
                    <div class="box-end-trajet-check vertical"><img class="check" src="../img/check.png" alt="check"></div>
                </div>
                <img class="box-end-trajet-bg" src="" alt="background">
            </div>
            <button class="center btn-med btn-white mtop30">Suivant</button>
        </div>
    </ion-content>
</ion-view>