<ion-view title="Récapitulatif">
    <ion-nav-buttons side="left">
       <a href="#/tab/accueil"><button menu-toggle="left" class="button button-icon icon-up"></button></a>
    </ion-nav-buttons>

    <ion-content padding id="main">
        <div class="page">
            <section class="section-recap-one">
               <div class="center">
                   <img class="icon-medium" src="img/icon/star-blanc.svg">
                   <br>
                   <p class="point-xp"><b>+570xp</b></p>
                   <p class="mtop10">Vous avez atteint <br> l'objectif de la séance !</p>
               </div>
            </section>
            <button class="btn-add"><ion-icon name="add" class="ion-android-add"></ion-icon></button>
            <section>
                <div class="full-width bg-blue-violet ptop10 pbot40">
                    <div class="sprite-niveau center"></div>
                    <p class="center">Vous êtes maintenant<br/><b>niveau 5.</b></p>
                    <div class="bar-niveau center mtop10 mbot5">
                        <div class="niveau"></div>
                    </div>
                    <p class="txt-small center">300xp / <b>450xp</b></p>
                </div>
                <div class="full-width bg-violet ptop10 pbot40">
                    <div class="container-80-auto">
                        <div class="hr-picto-stat2 center mtop10 mbot50">
                            <div class="bg-violet pright15 vertical abs-left">
                                <img class="item-middle mright10 icon-small" src="img/icon/wall-clock-blanc.svg">
                                <p class="txt-xsmall item-middle txt-recap">48 min</p>
                            </div>
                            <div class="bg-violet pleft15 vertical abs-right">
                                <p class="txt-xsmall item-middle point-recap"><b>+50xp</b></p>
                            </div>
                        </div>
                        <div class="hr-picto-stat2 center mtop10 mbot50">
                            <div class="bg-violet pright15 vertical abs-left">
                                <img class="item-middle mright10 icon-small" src="img/icon/location-blanc.svg">
                                <p class="txt-xsmall item-middle txt-recap">63 km</p>
                            </div>
                            <div class="bg-violet pleft15 vertical abs-right">
                                <p class="txt-xsmall item-middle point-recap"><b>+75xp</b></p>
                            </div>
                        </div>
                        <div class="hr-picto-stat2 center mtop10 mbot50">
                            <div class="bg-violet pright15 vertical abs-left">
                                <img class="item-middle mright10 icon-small" src="img/icon/map-blanc.svg">
                                <p class="txt-xsmall item-middle txt-recap">Agglomération</p>
                            </div>
                            <div class="bg-violet pleft15 vertical abs-right">
                                <p class="txt-xsmall item-middle point-recap"><b>+60xp</b></p>
                            </div>
                        </div>
                        <div class="hr-picto-stat2 center mtop10 mbot50">
                            <div class="bg-violet pright15 vertical abs-left">
                                <img class="item-middle mright10 icon-small" src="img/icon/meteo-blanc.svg">
                                <p class="txt-xsmall item-middle txt-recap">Temps sec</p>
                            </div>
                            <div class="bg-violet pleft15 vertical abs-right">
                                <p class="txt-xsmall item-middle point-recap"><b>+20xp</b></p>
                            </div>
                        </div>
                        <div class="hr-picto-stat2 center mtop10 mbot50">
                            <div class="bg-violet pright15 vertical abs-left">
                                <img class="item-middle mright10 icon-small" src="img/icon/daynight-blanc.svg">
                                <p class="txt-xsmall item-middle txt-recap">Trajet de jour</p>
                            </div>
                            <div class="bg-violet pleft15 vertical abs-right">
                                <p class="txt-xsmall item-middle point-recap"><b>+10xp</b></p>
                            </div>
                        </div>
                        <div class="hr-picto-stat2 center mtop10 mbot50">
                            <div class="bg-violet pright15 vertical abs-left">
                                <img class="item-middle mright10 icon-small" src="img/icon/auto-blanc.svg">
                                <p class="txt-xsmall item-middle txt-recap">2 Manoeuvres</p>
                            </div>
                            <div class="bg-violet pleft15 vertical abs-right">
                                <p class="txt-xsmall item-middle point-recap"><b>+100xp</b></p>
                            </div>
                        </div>
                        <button class="btn-small btn-small-left btn-white-border">Partager</button>
                        <a href="#/tab/statistiques"><button class="btn-small btn-small-right btn-white">Terminer</button></a>
                    </div>
            </section>
        </div>
    </ion-content>
</ion-view>