<ion-view title="Détails du trajet" hide-nav-bar="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon-up"></button>
    </ion-nav-buttons>
    <ion-content padding class="bg-end-trajet" id="main">
        <div class="page">
            <div class="full-width vertical">
                <form>
                    <p class="center mbot20">Quel temps<br/><b>faisait-il ?</b></p>
                    <div class="box-end-trajet box-base" name="tempsclair">
                        <img class="icon-medium vertical-middle-box" src="img/end-trajet/meteo.svg" alt="">
                        <div class="box-end-trajet-content">
                            <p class="box-end-trajet-name txt-small vertical">Temps clair</p>
                            <div class="box-end-trajet-check vertical"><input type="checkbox" name="tempsclair" /></div>
                        </div>s
                        <img class="box-end-trajet-bg" src="img/end-trajet/tempsclair.jpg" alt="background">
                    </div>
                    <div class="box-end-trajet box-base" name="pluie">
                        <img class="icon-medium vertical-middle-box" src="img/end-trajet/rain.svg" alt="">
                        <div class="box-end-trajet-content">
                            <p class="box-end-trajet-name txt-small vertical">Pluie</p>
                            <div class="box-end-trajet-check vertical"><input type="checkbox" name="pluie" /></div>
                        </div>
                        <img class="box-end-trajet-bg" src="img/end-trajet/pluie.jpg" alt="background">
                    </div>
                    <div class="box-end-trajet box-base" name="neige">
                        <img class="icon-medium vertical-middle-box" src="img/end-trajet/snow.svg" alt="">
                        <div class="box-end-trajet-content">
                            <p class="box-end-trajet-name txt-small vertical">Neige</p>
                            <div class="box-end-trajet-check vertical"><input type="checkbox" name="neige" /></div>
                        </div>
                        <img class="box-end-trajet-bg" src="" alt="background">
                    </div>
                    <div class="box-end-trajet box-base" name="brouillard">
                        <img class="icon-medium vertical-middle-box" src="img/end-trajet/fog.svg" alt="">
                        <div class="box-end-trajet-content">
                            <p class="box-end-trajet-name txt-small vertical">Brouillard</p>
                            <div class="box-end-trajet-check vertical"><input type="checkbox" name="brouillard" /></div>
                        </div>
                        <img class="box-end-trajet-bg" src="img/end-trajet/brouillard.jpg" alt="background">
                    </div>
                    <button type="submit" ng-click="fintraj2()" class="center btn-med btn-white mtop30">Suivant</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>