/* Icons from directory "" */
.icon-auto,.icon-auto\:regular{background-image:url('../img/icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-auto-dims{width:32px;height:32px}
.icon-autoroute,.icon-autoroute\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-autoroute-dims{width:32px;height:32px}
.icon-campagne,.icon-campagne\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-campagne-dims{width:32px;height:32px}
.icon-city,.icon-city\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-city-dims{width:32px;height:32px}
.icon-day,.icon-day\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-day-dims{width:32px;height:32px}
.icon-daynight,.icon-daynight\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-daynight-dims{width:32px;height:32px}
.icon-ext,.icon-ext\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-ext-dims{width:32px;height:32px}
.icon-fog,.icon-fog\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.icon-fog-dims{width:32px;height:32px}
.icon-gear,.icon-gear\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -256px;background-repeat:no-repeat}
.icon-gear-dims{width:32px;height:32px}
.icon-int,.icon-int\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.icon-int-dims{width:32px;height:32px}
.icon-level1-1,.icon-level1-1\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.icon-level1-1-dims{width:32px;height:32px}
.icon-level1-2,.icon-level1-2\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -352px;background-repeat:no-repeat}
.icon-level1-2-dims{width:32px;height:32px}
.icon-level1-3,.icon-level1-3\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-level1-3-dims{width:32px;height:32px}
.icon-level1-4,.icon-level1-4\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -416px;background-repeat:no-repeat}
.icon-level1-4-dims{width:32px;height:32px}
.icon-level1,.icon-level1\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -448px;background-repeat:no-repeat}
.icon-level1-dims{width:32px;height:32px}
.icon-level2-1,.icon-level2-1\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.icon-level2-1-dims{width:32px;height:32px}
.icon-level2-2,.icon-level2-2\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -512px;background-repeat:no-repeat}
.icon-level2-2-dims{width:32px;height:32px}
.icon-level2-3,.icon-level2-3\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -544px;background-repeat:no-repeat}
.icon-level2-3-dims{width:32px;height:32px}
.icon-level2-4,.icon-level2-4\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -576px;background-repeat:no-repeat}
.icon-level2-4-dims{width:32px;height:32px}
.icon-level2,.icon-level2\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -608px;background-repeat:no-repeat}
.icon-level2-dims{width:32px;height:32px}
.icon-level3-1,.icon-level3-1\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -640px;background-repeat:no-repeat}
.icon-level3-1-dims{width:32px;height:32px}
.icon-level3-2,.icon-level3-2\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -672px;background-repeat:no-repeat}
.icon-level3-2-dims{width:32px;height:32px}
.icon-level3-3,.icon-level3-3\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -704px;background-repeat:no-repeat}
.icon-level3-3-dims{width:32px;height:32px}
.icon-level3-4,.icon-level3-4\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -736px;background-repeat:no-repeat}
.icon-level3-4-dims{width:32px;height:32px}
.icon-level3,.icon-level3\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -768px;background-repeat:no-repeat}
.icon-level3-dims{width:32px;height:32px}
.icon-level4-1,.icon-level4-1\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -800px;background-repeat:no-repeat}
.icon-level4-1-dims{width:32px;height:32px}
.icon-level4-2,.icon-level4-2\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -832px;background-repeat:no-repeat}
.icon-level4-2-dims{width:32px;height:32px}
.icon-level4-3,.icon-level4-3\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -864px;background-repeat:no-repeat}
.icon-level4-3-dims{width:32px;height:32px}
.icon-level4-4,.icon-level4-4\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -896px;background-repeat:no-repeat}
.icon-level4-4-dims{width:32px;height:32px}
.icon-level4,.icon-level4\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -928px;background-repeat:no-repeat}
.icon-level4-dims{width:32px;height:32px}
.icon-level5-1,.icon-level5-1\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -960px;background-repeat:no-repeat}
.icon-level5-1-dims{width:32px;height:32px}
.icon-level5-2,.icon-level5-2\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -992px;background-repeat:no-repeat}
.icon-level5-2-dims{width:32px;height:32px}
.icon-level5-3,.icon-level5-3\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1024px;background-repeat:no-repeat}
.icon-level5-3-dims{width:32px;height:32px}
.icon-level5-4,.icon-level5-4\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1056px;background-repeat:no-repeat}
.icon-level5-4-dims{width:32px;height:32px}
.icon-level5,.icon-level5\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1088px;background-repeat:no-repeat}
.icon-level5-dims{width:32px;height:32px}
.icon-level6-1,.icon-level6-1\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1120px;background-repeat:no-repeat}
.icon-level6-1-dims{width:32px;height:32px}
.icon-level6-2,.icon-level6-2\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1152px;background-repeat:no-repeat}
.icon-level6-2-dims{width:32px;height:32px}
.icon-level6-3,.icon-level6-3\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1184px;background-repeat:no-repeat}
.icon-level6-3-dims{width:32px;height:32px}
.icon-level6-4,.icon-level6-4\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1216px;background-repeat:no-repeat}
.icon-level6-4-dims{width:32px;height:32px}
.icon-level6,.icon-level6\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1248px;background-repeat:no-repeat}
.icon-level6-dims{width:32px;height:32px}
.icon-location,.icon-location\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1280px;background-repeat:no-repeat}
.icon-location-dims{width:32px;height:32px}
.icon-map,.icon-map\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1312px;background-repeat:no-repeat}
.icon-map-dims{width:32px;height:32px}
.icon-meteo,.icon-meteo\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1344px;background-repeat:no-repeat}
.icon-meteo-dims{width:32px;height:32px}
.icon-night,.icon-night\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1376px;background-repeat:no-repeat}
.icon-night-dims{width:32px;height:32px}
.icon-parking,.icon-parking\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1408px;background-repeat:no-repeat}
.icon-parking-dims{width:32px;height:32px}
.icon-rain,.icon-rain\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1440px;background-repeat:no-repeat}
.icon-rain-dims{width:32px;height:32px}
.icon-road,.icon-road\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1472px;background-repeat:no-repeat}
.icon-road-dims{width:32px;height:32px}
.icon-rondpoint,.icon-rondpoint\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1504px;background-repeat:no-repeat}
.icon-rondpoint-dims{width:32px;height:32px}
.icon-settings,.icon-settings\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1536px;background-repeat:no-repeat}
.icon-settings-dims{width:32px;height:32px}
.icon-sheets,.icon-sheets\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1568px;background-repeat:no-repeat}
.icon-sheets-dims{width:32px;height:32px}
.icon-signal,.icon-signal\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1600px;background-repeat:no-repeat}
.icon-signal-dims{width:32px;height:32px}
.icon-snow,.icon-snow\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1632px;background-repeat:no-repeat}
.icon-snow-dims{width:32px;height:32px}
.icon-star,.icon-star\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1664px;background-repeat:no-repeat}
.icon-star-dims{width:32px;height:32px}
.icon-stats,.icon-stats\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1696px;background-repeat:no-repeat}
.icon-stats-dims{width:32px;height:32px}
.icon-wall-clock,.icon-wall-clock\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -1728px;background-repeat:no-repeat}
.icon-wall-clock-dims{width:300px;height:300px}