
.header-logo{
    width: 70%;
    margin: 0 auto 60px;
}
.slogan{color:#fff;
    text-align:center;
    font-size: 17px;
    font-family: "Roboto";
}

.btn-lg {
    width: 100%;
    height: auto;
    border: 0;
    font-size: 16px;
    padding: 16px 0;
    font-weight: 800;
    text-transform: uppercase;
}

.btn-blue{
    /*background: #4b5497;*/
    background: linear-gradient(#343E81 0%, #3E468B 50%, #545A92 100%);
    color: #ffffff;
}

.btn-white{
    background: linear-gradient(#AE9A87 0%, #CFBFAE 50%, #FFF 100%);
    color: #4b5497;
}
.login, #main {
    background: url(../img/background-1.jpg) center;
    background-size: cover;

}
.separation {
    width: 100%;
    margin: 20px auto;
    display: flex;
}

hr {
    width: 40%;
    display: inline-block;
    border: 0;
    border-top: solid 1px #ffffff;
    margin: auto;
}
#choix {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 17px;
    margin: auto;
    color: #ffffff;
}
#main .scroll{display:flex;}
.container-home {
    padding: 0;
    margin: auto;
    width: 70%;
}