/*======================
    Header general
====================== */
.bar-stable{
    background: #454EB5 !important;
}
.tabs-hide .tabs {
    display: none;
}
.page {
    width: 100vw;
}

.icon-up{
    width: 75px;
}
.bar.bar-stable .title {
    color: #fff !important;
    padding: 0 25px;
    font-weight: 300;
    font-size: 16px;
}

/*=============================
    Icon
============================= */
.icon-up::before{
    content: url("../img/icon/up-blanc.svg");
}
.icon-star{
    content: url("../img/icon/star.svg");
}
.icon-map{
    content: url("../img/icon/map.svg");
}
.icon-auto{
    content: url("../img/icon/auto.svg");
}
.icon-location{
    content: url("../img/icon/location.svg");
}
.icon-meteo{
    content: url("../img/icon/meteo.svg");
}
.icon-daynight{
    content: url("../img/icon/daynight.svg");
}
.icon-temps{
    content: url("../img/icon/wall-clock.svg");
}
.icon-level1-4{
    content: url("../img/icon/level1-4.svg");
}
.icon-size{width: 35px;}
.icon-size-level{width: 60px;}
/*.icon-up::before{
    content: url("../img/icon/up-blanc.svg");
}
.icon-up::before{
    content: url("../img/icon/up-blanc.svg");
}*/


/* REGLES GENERALES */

p {
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.txt-small {
    font-size: 14px;
}

.center {
    text-align: center;
    margin: auto;
    display: block;
}

.icon-medium {
    width: 50px;
}

/* margin padding */

.mtop5 {
    margin-top: 5px;
}
.mbot5 {
    margin-bottom: 5px;
}
.mtop10 {
    margin-top: 10px;
}
.mbot10 {
    margin-bottom: 10px;
}
.mtop15 {
    margin-top: 15px;
}
.mbot15 {
    margin-bottom: 15px;
}
.mtop20 {
    margin-top: 20px;
}
.mbot20 {
    margin-bottom: 20px;
}
.mtop30 {
    margin-top: 30px;
}
.mbot30 {
    margin-bottom: 30px;
}
.mtop40 {
    margin-top: 40px;
}
.mbot40 {
    margin-bottom: 40px;
}
.mtop50 {
    margin-top: 50px;
}
.mleft5 {
    margin-left: 5px;
}
.mleft10 {
    margin-left: 10px;
}
.mleft15 {
    margin-left: 15px;
}
.mleft20 {
    margin-left: 20px;
}
.mleft30 {
    margin-left: 30px;
}
.mleft40 {
    margin-left: 40px;
}
.mleft50 {
    margin-left: 50px;
}
.mright5 {
    margin-right: 5px;
}
.mright10 {
    margin-right: 10px;
}
.mright15 {
    margin-right: 15px;
}
.mright20 {
    margin-right: 20px;
}
.mright30 {
    margin-right: 30px;
}
.mright40 {
    margin-right: 40px;
}
.mright50 {
    margin-right: 50px;
}


.header-logo{
    width: 70%;
}
.slogan {
    font-family: "Roboto";
}

.btn-lg {
    width: 100%;
    border: 0;
    font-size: 16px;
    padding: 16px 0;
    font-weight: 800;
    text-transform: uppercase;
}

.btn-blue{
    background: linear-gradient(#343E81 0%, #3E468B 50%, #545A92 100%);
    color: #ffffff;
}

.btn-beige{
    background: linear-gradient(#AE9A87 0%, #CFBFAE 50%, #FFF 100%);
    color: #4b5497;
}
.bg-home {
    background: url(../img/background-1.jpg) center;
    background-size: cover;

}
.separation {
    width: 100%;
    margin: 20px auto;
    display: flex;
}

hr {
    width: 40%;
    display: inline-block;
    border: 0;
    border-top: solid 1px #ffffff;
    margin: auto;
}
#choix {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 17px;
    margin: auto;
    color: #ffffff;
}
#main .scroll{
    display:flex;
    height: 100vh;
}
.container-home {
    padding: 0;
    margin: auto;
    width: 70%;
}

.container-main {
    padding: 0;
    margin: auto;
    width: 80%;
}

/*******************************/

.circle-white {
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
    font-size: 18px;
    position: relative;
}
.circle-white > p {
    color: #5A5693;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.bar-niveau {
    width: 180px;
    height: 10px;
    border-bottom: solid 2px #fff;
}

.bar-niveau > .niveau {
    width: 35%;
    height: 10px;
    background: #fff;
}

.sprite-niveau {
    width: 80px;
    height: 80px;
    background-image: url(../img/icon/level.svg);
    background-size: 400px;
    background-position: 0 0;
}
/**====================================
Page connexion et registre
 =====================================*/
.section-connect .item, .section-registre .item{
    border: none;
    border-bottom: 2px solid #fff;
    padding: 0;
    margin: 0;
}
.section-connect input,.section-registre input,input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff;

}
.section-connect span,.section-registre span{
    color:#545a92;
}


/*==================================
Page récapitulatif
 ==================================*/
.block-recap-one{
    text-align: center;
}
.section-recap-one {
    height: 35%;
    padding: 60px 0;
    background: cadetblue;
}
.section-recap-two{
    background: #454eb5;
    padding: 20px 0;
    color: #fff;
    font-size: 12px;
}
.info-icon{
    text-align: left;
    display: flex;
    align-items: center;
}
.block-btn-recap .button-positive {
    padding: 0 20px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
}
.block-btn-recap .button-positive:first-child {
    border: 2px solid #ffffff;
    background: transparent;
}
.btn-add{
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: absolute;
    text-align: center;
    right: 10%;
    top: 32%;
    color: #9D97AA;
    background: #FFFEFF;
}

/*===================================
Page Statistique
=================================== */
.section-stats-one{
    position:relative;
    height: 50%;
    padding: 100px 0;
    background: cadetblue;
   /* background: ;
    background-size: cover;*/
}
/*.section-stats-one:before {
   content: url("../img/caleb-george.jpg");
    position:absolute;
    top:0;
    left:0;
    opacity:.75;
    z-index:-1;
}*/