body {
    font-size: 0;
}

.page {
    width: 100vw;
    display: inline-block;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bar.bar-stable {
    background: linear-gradient(to right, #3F51B5 0%, #673BB7 100%) !important;
    border: 0 !important;
}
.bar.bar-stable .title {
    color: #fff !important;
    font-size: 20px;
    font-weight: 400;
}
ion-tabs .tab-nav {
    display: none;
}
.tabs-hide .tabs {
    display: none;
}


/* REGLES GENERALES */

p {
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.txt-xsmall {
    font-size: 12px;
}
.txt-small {
    font-size: 14px;
}
.txt-medium {
    font-size: 20px;
}
.txt-large {
    font-size: 25px;
}

.center {
    text-align: center;
    margin: auto !important;
    display: block !important;
}

.relative {
    position: relative;
}

.full-width {
    width: 100vw !important;
}

.vertical {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.vertical-middle-box {
    position: absolute;
    z-index: 9;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}
.vertical-center {
    width: -moz-max-content;
    display: inline-block;
    position: absolute;
    z-index: 9;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.abs-left {
    position: absolute;
    left: 0;
}
.abs-right {
    position: absolute;
    right: 0;
}

.menu-icon-left {
    position: absolute;
    left: 5%;
}
.menu-icon-center {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.menu-icon-right {
    position: absolute;
    right: 5%;
}

/*===== FLOAT =====*/

.fleft {
    float: left;
}
.fright {
    float: right
}

/*===== DIVERS =====*/

.leaflet-control-container {
    display: none;
}

.menu-bottom {
    position: absolute;
    bottom: 3%;
    width: 100%;
    height: 40px;
}
.menu-bottom a {
    height: 40px;
}

.header-logo{
    width: 70%;
}
.slogan {
    font-family: "Roboto";
}

.item-middle{
    vertical-align: middle;
    display: inline-block;
}

.height_50vh {
    height: calc((100vh - 44px)/2);
}

.width-100-pct {
    width: 100%;
}

.border-pad-2vw {
    padding: 2vw;
}

/*===============================*/
/* ICONS */
/*===============================*/

.icon-small {
    width: 30px;
}
.icon-medium {
    width: 40px;
}
.icon-large {
    width: 60px;
}
.icon-xlarge {
    width: 80px;
}

.icon-up::before {
    content: url("../img/icon/up-blanc.svg");
    vertical-align: middle !important;
}
.icon-campagne::before {
    content: url("../img/icon/campagne-blanc.svg");
}
.icon-city::before {
    content: url("../img/icon/city-blanc.svg");
}
.icon-autoroute::before {
    content: url("../img/icon/autoroute-blanc.svg");
}

.button.button-icon::before {
    font-size: 25px !important;
}
.button-icon {
    width: 50px;
}




/* margin padding */

.mtop5 {
    margin-top: 5px !important;
}
.mbot5 {
    margin-bottom: 5px !important;
}
.mleft5 {
    margin-left: 5px !important;
}
.mright5 {
    margin-right: 5px !important;
}
.ptop5 {
    padding-top: 5px !important;
}
.pbot5 {
    padding-bottom: 5px !important;
}
.pleft5 {
    padding-left: 5px !important;
}
.pright5 {
    padding-right: 5px !important;
}

.mtop10 {
    margin-top: 10px !important;
}
.mbot10 {
    margin-bottom: 10px !important;
}
.mleft10 {
    margin-left: 10px !important;
}
.mright10 {
    margin-right: 10px !important;
}
.ptop10 {
    padding-top: 10px !important;
}
.pbot10 {
    padding-bottom: 10px !important;
}
.pleft10 {
    padding-left: 10px !important;
}
.pright10 {
    padding-right: 10px !important;
}

.mtop15 {
    margin-top: 15px !important;
}
.mbot15 {
    margin-bottom: 15px !important;
}
.mleft15 {
    margin-left: 15px !important;
}
.mright15 {
    margin-right: 15px !important;
}
.ptop15 {
    padding-top: 10px !important;
}
.pbot15 {
    padding-bottom: 15px !important;
}
.pleft15 {
    padding-left: 15px !important;
}
.pright15 {
    padding-right: 15px !important;
}

.mtop20 {
    margin-top: 20px !important;
}
.mbot20 {
    margin-bottom: 20px !important;
}
.mleft20 {
    margin-left: 20px !important;
}
.mright20 {
    margin-right: 20px !important;
}
.ptop20 {
    padding-top: 20px !important;
}
.pbot20 {
    padding-bottom: 20px !important;
}
.pleft20 {
    padding-left: 20px !important;
}
.pright20 {
    padding-right: 20px !important;
}

.mtop30 {
    margin-top: 30px !important;
}
.mbot30 {
    margin-bottom: 30px !important;
}
.mleft30 {
    margin-left: 30px !important;
}
.mright30 {
    margin-right: 30px !important;
}
.ptop30 {
    padding-top: 30px !important;
}
.pbot30 {
    padding-bottom: 30px !important;
}
.pleft30 {
    padding-left: 30px !important;
}
.pright30 {
    padding-right: 30px !important;
}

.mtop40 {
    margin-top: 40px !important;
}
.mbot40 {
    margin-bottom: 40px !important;
}
.mleft40 {
    margin-left: 40px !important;
}
.mright40 {
    margin-right: 40px !important;
}
.ptop40 {
    padding-top: 10px !important;
}
.pbot40 {
    padding-bottom: 40px !important;
}
.pleft40 {
    padding-left: 40px !important;
}
.pright40 {
    padding-right: 40px !important;
}

.mtop50 {
    margin-top: 50px !important;
}
.mbot50 {
    margin-bottom: 50px !important;
}
.mleft50 {
    margin-left: 50px !important;
}
.mright50 {
    margin-right: 50px !important;
}
.ptop50 {
    padding-top: 50px !important;
}
.pbot50 {
    padding-bottom: 50px !important;
}
.pleft50 {
    padding-left: 50px !important;
}
.pright50 {
    padding-right: 50px !important;
}

.mtop60 {
    margin-top: 60px !important;
}
.mbot60 {
    margin-bottom: 60px !important;
}
.mleft60 {
    margin-left: 60px !important;
}
.mright60 {
    margin-right: 60px !important;
}
.ptop60 {
    padding-top: 60px !important;
}
.pbot60 {
    padding-bottom: 60px !important;
}
.pleft60 {
    padding-left: 60px !important;
}
.pright60 {
    padding-right: 60px !important;
}

.mtop70 {
    margin-top: 70px !important;
}
.mbot70 {
    margin-bottom: 70px !important;
}
.mleft70 {
    margin-left: 70px !important;
}
.mright70 {
    margin-right: 70px !important;
}
.ptop70 {
    padding-top: 70px !important;
}
.pbot70 {
    padding-bottom: 70px !important;
}
.pleft70 {
    padding-left: 70px !important;
}
.pright70 {
    padding-right: 70px !important;
}

.mtop80 {
    margin-top: 80px !important;
}
.mbot80 {
    margin-bottom: 80px !important;
}
.mleft80 {
    margin-left: 80px !important;
}
.mright80 {
    margin-right: 80px !important;
}
.ptop80 {
    padding-top: 80px !important;
}
.pbot80 {
    padding-bottom: 80px !important;
}
.pleft80 {
    padding-left: 80px !important;
}
.pright80 {
    padding-right: 80px !important;
}

.mtop90 {
    margin-top: 90px !important;
}
.mbot90 {
    margin-bottom: 90px !important;
}
.mleft90 {
    margin-left: 90px !important;
}
.mright90 {
    margin-right: 90px !important;
}
.ptop90 {
    padding-top: 90px !important;
}
.pbot90 {
    padding-bottom: 90px !important;
}
.pleft90 {
    padding-left: 90px !important;
}
.pright90 {
    padding-right: 90px !important;
}

.mtop100 {
    margin-top: 100px !important;
}
.mbot100 {
    margin-bottom: 100px !important;
}
.mleft100 {
    margin-left: 100px !important;
}
.mright100 {
    margin-right: 100px !important;
}
.ptop100 {
    padding-top: 100px !important;
}
.pbot100 {
    padding-bottom: 100px !important;
}
.pleft100 {
    padding-left: 100px !important;
}
.pright100 {
    padding-right: 100px !important;
}
/************************************/
/* BOUTONS */
/************************************/

.btn-lg {
    width: 100%;
    border: 0;
    font-size: 16px;
    padding: 16px 0;
    font-weight: 800;
    text-transform: uppercase;
}
.btn-med {
    width: 70%;
    border: 0;
    font-size: 16px;
    padding: 16px 0;
    font-weight: 800;
    text-transform: uppercase;
}
.btn-small {
    display: inline-block;
    width: 40%;
    margin: 5%;
    border: 0;
    font-size: 16px;
    padding: 16px 0;
    font-weight: 800;
    text-transform: uppercase;
}
.btn-small-left {
    width: 45% !important;
    margin: 0 5% 0 0 !important;
}
.btn-small-right {
    width: 45% !important;
    margin: 0 0 0 5% !important;
}


.btn-blue{
    background: linear-gradient(#343E81 0%, #3E468B 50%, #545A92 100%);
    color: #ffffff;
}
.btn-beige{
    background: linear-gradient(#AE9A87 0%, #CFBFAE 50%, #FFF 100%);
    color: #4b5497;
}
.btn-white{
    background: linear-gradient(#d0d0d0 0%, #fff 100%);
    color: #444D90;
}
.btn-white-border{
    border: solid 2px #d0d0d0;
    background: transparent;
    color: #d0d0d0;
}
.btn-blue{
    background: linear-gradient(#343E81 0%, #3E468B 50%, #545A92 100%);
    color: #ffffff;
}
.btn-circle {
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    font-size: 25px;
    color: #a0a0a0;
    border: 0;
    width: 36px;
    height: 36px;
}
.btn-add{
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: absolute;
    text-align: center;
    right: 10%;
    top: 32%;
    color: #9D97AA;
    background: #FFFEFF;
}

/************************************/
/* BACKGROUND PAGES */
/************************************/

.bg-home {
    background: url(../img/background-accueil.jpg);
    background-position: center;
    background-size: cover;
}
.bg-accueil {
    background: url(../img/background-accueil.jpg);
    background-position: center;
    background-size: cover;
}
.bg-end-trajet {
    background-image: url(../img/background-end-trajet.jpg);
    background-position: center;
    background-size: cover;
}
.bg-manoeuvres {
    background-image: url(../img/background-manoeuvres.jpg);
    background-position: center;
    background-size: cover;
}
.bg-statistiques {
    background-image: url(../img/background-statistiques.jpg);
    background-position: center;
    background-size: cover;
}
.bg-trajet {
    background-image: url(../img/background-trajet.jpg);
    background-position: center;
    background-size: cover;
}
.bg-blue {
    background: #3F51B5;
}
.bg-violet {
    background: #673BB7;
}
.bg-blue-violet {
    background: linear-gradient(#3F51B5 35%, #673BB7 100%);
}

/*====================================
Page connexion et registre
 =====================================*/

.section-connect .item, .section-registre .item{
    border: none;
    border-bottom: 2px solid #fff;
    padding: 0;
    margin: 0;
}

.section-connect .item input, .section-registre .item input,.ng-touched::-webkit-input-placeholder {
    color: #fff;
}
.section-connect .input-label,.section-registre .input-label {
    color:#545a92;
}



.separation {
    width: 100%;
    margin: 20px auto;
    display: flex;
}

hr {
    width: 40%;
    display: inline-block;
    border: 0;
    border-top: solid 1px #ffffff;
    margin: auto;
}
#choix {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 17px;
    margin: auto;
    color: #ffffff;
}
#main .scroll{
    display:flex;
    min-height: calc(100vh - 44px);
    position: relative;
}
.page-accueil .scroll {
    height: 100vh;
}

.container-70-auto {
    display: block;
    padding: 0;
    margin: auto;
    width: 70%;
}
.container-80-auto {
    display: block;
    padding: 0;
    margin: auto;
    width: 80%;
}
.container-90-auto {
    display: block;
    padding: 0;
    margin: auto;
    width: 90%;
}
.bar-subheader {
    padding:5px 0;
}
.tabs-striped.tabs-color-assertive .tab-item {
    color: rgba(51, 51, 51, 0.4);
    opacity: 1;
    font-size: 16px;

}
.tabs-striped.tabs-color-assertive .tab-item.active-sub{
    color: #603DB7 !important;
    position: relative;
}
.tabs-striped.tabs-color-assertive .tab-item.active-sub:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
    top: -2px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #603DB7;
}
.nav-bar-block, .bar {
    background-color: inherit !important;
}
/*******************************/

.circle-white {
    width: 160px;
    height: 160px;
    background: #fff;
    border-radius: 50%;
    position: relative;
}
.circle-white > p {
    color: #5A5693;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.bar-niveau {
    width: 180px;
    height: 10px;
    border-bottom: solid 2px #fff;
}

.bar-niveau > .niveau {
    width: 0;
    height: 10px;
    background: #fff;
}

.sprite-niveau {
    width: 80px;
    height: 80px;
    background-image: url(../img/level-blanc.svg);
    background-size: 400px;
    background-position: 0 0;
}

.page-end-trajet {
    padding: 2vw;
}

/************************************/
/* CHOIX FIN TRAJET */
/************************************/

.box-end-trajet {
    display: inline-block;
    width: 44vw;
    height: 44vw;
    margin: 2vw;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

.box-end-trajet-content {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    z-index: 9;
}

.box-end-trajet-bg {
    width: 100%;
    z-index: 0;
}

.box-end-trajet-check {
    /*width: 20px;*/
    /*height: 20px;*/
    /*border-radius: 50%;*/
    /*background: #fff;*/
    position: absolute;
    right: 10px;
    bottom: 0;
}
.box-end-trajet-check input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
/*.box-end-trajet-check input[type="checkbox"]:not(:checked) + label:before,*/
/*.box-end-trajet-check input[type="checkbox"]:checked + label:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: 0; top: 0;*/
    /*width: 20px; height: 20px;*/
    /*background: #fff;*/
    /*border-radius:50%;*/
/*}*/
/*.box-end-trajet-check input[type="checkbox"]:not(:checked) + label:after,*/
/*.box-end-trajet-check input[type="checkbox"]:checked + label:after {*/
    /*content: '✔';*/
    /*position: absolute;*/
    /*top: .1em; left: .3em;*/
    /*font-size: 1.3em;*/
    /*line-height: 0.8;*/
    /*color: #09ad7e;*/
    /*transition: all .2s;*/

/*}*/
.box-end-trajet-check > img {
    width: 100%;
}

.box-base {
    border: solid 1vw transparent;
    background-size: cover;
    background-position: center;
}
.box-base > .box-end-trajet-content {
    background: #505282;
}
.box-base .check {
    display: none;
}

.box-checked {
    border: solid 1vw #673BB7;
}
.box-checked > .box-end-trajet-content {
    background: #673BB7;
}
.box-checked .check {
    display: block;
}
.box-checked .box-end-trajet-bg {
    filter: contrast(1.3);
}

.compteur-manoeuvres {
    height: 36px;
    background: rgba(160, 160, 160, 0.5);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    position: relative;
}


/* FICHES */

.fiche-name {
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    width: 100%;
    background: #fff;
    color: #3F51B5;
    text-align: center;
}
.box-fiche {
    display: inline-block;
    width: 44vw;
    height: 44vw;
    margin: 2vw;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}
.block-item-fiche img{
    width: 100%;
}
/*==================================
Page récapitulatif
 ==================================*/
.section-recap-one {
    height: 35%;
    padding: 60px 0;
    background: cadetblue;
}

/*===================================
Page Statistique
=================================== */
.hr-picto-stat2{
    width: 100%;
    position: relative;
    height: 1px;
    background: #fff;
}
.align-picto2 {
    padding: 0 10px;
}
.info-stat-header{
    width: 30%;
    margin: auto;
}
/*===============================
    Trajet en cours
 ===============================*/
.div-picto-stat2{
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.div-picto-stat2 .align-picto2 {
    -webkit-flex: 1;
    flex: 1;
}
/*===========================
Page Anciens trajet
 =============================*/
.list-old-road{
    padding: 45px 0;
}
.bg-end-trajet .item-icon-right .icon {
    right: 40px;
}
.bg-end-trajet .item-icon-left .icon {
    left: 40px;
}
.list-old-road a{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding:16px 80px;
    color: #fff;
}
.item-fiche:hover{
    color: #fff;
    background: transparent;
    border: none;
}
button.button.ion-chevron-left.item-fiche {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
}
/*==========================
    Profil
=========================== */
.profil-page label.input-profil{
    border-radius: 4px;
    background: #fff;
}
.profil-page input[disabled] {
    background: transparent;
}
.profil-page i{
    width: 10%;
    font-size: 20px;
    padding-left: 8px;
    border-left: 3px solid #f1f1f1;
}
.profil-page .button.button-positive {
    width: 100%;
    background: #3F51B5;
}
.profil-page .button.button-light {
    color: #5D3FB4;
}
.cc-selector-profil input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.condacc,.condsup{background:#f1f1f1;}
.cc-selector-profil input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-profil input:checked +.drinkcard-cc{
    background: #3B4270;
    color: #fff;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100%;height:46px;
    line-height: 30px;
    text-align: center;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    border: none;
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/*======================
    Popup infos
====================== */
.popup-body {
    padding: 15px;
}
.popup-body span{
    font-size: 14px;
}
.popup-buttons .button.button-positive {
    background-color: #5D3FB4;
}
